@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("public/background.png") ;
    object-fit: fill;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
    padding: 2em;
    overflow: scroll;
    align-items: flex-start;
    justify-content: center;
}

.container.center {

    justify-content: center;
    align-items: center;  
}

h1 {
    font-size: 40px;
    color: #f1f1f1;
}

h3 {
    font-size: 20px;
    color: #f1f1f1;
    width: fit-content
}

h2 {
    font-size: 32px;
    color: #f1f1f1;
}

.button {
    background-color: #f1f1f1;
    color: #1e1e1e;
    padding: 5px 50px;
    border-radius: 25px;
    font-size: 25px;
    display: flex;

}

#name {
    width: 320px;
    height: 50px;
    align-self:center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #f1f1f1;
    font-size: 24px;
    color: #f1f1f1;
    text-align: center;
}

.iconbutton{
    color: #f1f1f1;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 2em;
    bottom: 2em;
    font-size: 18px;
}

.back {
    color: #f1f1f1;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 2em;
    bottom: 2em;
    font-size: 18px;

}
